[submodule "PHRemote"]
	path = PHRemote
	url = https://github.com/dapetcu21/PHRemote.git
[submodule "Externals/openal-soft"]
	path = Externals/openal-soft
	url = https://github.com/dapetcu21/openal-soft.git
