/Level Designer/build
/build
/Externals/lib
*.pbxuser
*.mode1v3
xcuserdata
*.xcworkspace
*.o
*.lo

.DS_Store

Externals/libpng/.deps/
Externals/libpng/.libs/
Externals/libpng/Makefile
Externals/libpng/config.h
Externals/libpng/config.log
Externals/libpng/config.status
Externals/libpng/libpng-config
Externals/libpng/libpng.pc
Externals/libpng/libpng.sym
Externals/libpng/libpng15-config
Externals/libpng/libpng15.la
Externals/libpng/libpng15.pc
Externals/libpng/libtool
Externals/libpng/lnsout/
Externals/libpng/pnglibconf.dfn
Externals/libpng/pnglibconf.h
Externals/libpng/pnglibconf.out
Externals/libpng/scripts/sym.out
Externals/libpng/stamp-h1
Externals/lua/bin/
Externals/lua/include/
Externals/lua/lib/
Externals/lua/lnsout/
Externals/lua/man/
Externals/zlib/Makefile
Externals/zlib/lnsout/
Externals/zlib/zconf.h
