/copyright_template.txt
build*
/Externals/log
/Externals/lib
*.pbxuser
*.mode1v3
xcuserdata
*.xcworkspace
*.o
*.lo
*.a
*.dylib
*.so
*.so.*
_
*~
*.swp
*.swo

.DS_Store

/Externals/libpng/pngtest
/Externals/libpng/.deps/
/Externals/libpng/.libs/
/Externals/libpng/Makefile
/Externals/libpng/config.h
/Externals/libpng/config.log
/Externals/libpng/libpng.vers
/Externals/libpng/scripts/vers.out
/Externals/libpng/config.status
/Externals/libpng/libpng-config
/Externals/libpng/libpng.pc
/Externals/libpng/libpng.sym
/Externals/libpng/libpng15-config
/Externals/libpng/libpng15.la
/Externals/libpng/libpng15.pc
/Externals/libpng/libtool
/Externals/libpng/lnsout/
/Externals/libpng/pnglibconf.dfn
/Externals/libpng/pnglibconf.h
/Externals/libpng/pnglibconf.out
/Externals/libpng/scripts/sym.out
/Externals/libpng/stamp-h1
/Externals/lua/bin/
/Externals/lua/include/
/Externals/lua/lib/
/Externals/lua/lnsout/
/Externals/lua/man/
/Externals/luajit/src/host/minilua
/Externals/luajit/src/jit/vmdef.lua
/Externals/luajit/src/lj_bcdef.h
/Externals/luajit/src/lj_ffdef.h
/Externals/luajit/src/lj_folddef.h
/Externals/luajit/src/lj_libdef.h
/Externals/luajit/src/lj_recdef.h
/Externals/luajit/src/lj_vm.s
/Externals/luajit/src/luajit
/Externals/zlib/Makefile
/Externals/zlib/lnsout/
/Externals/zlib/zconf.h
/Externals/lua/src/lua
/Externals/lua/src/luac
/Externals/zlib/example
/Externals/zlib/example64
/Externals/zlib/examplesh
/Externals/zlib/minigzip
/Externals/zlib/minigzip64
/Externals/zlib/minigzipsh
/Externals/zlib/zlib.pc
/Externals/zlib/libz.*
/Externals/zlib/ztest*.c
/Externals/libpng/pngtest-static

/Externals/libogg/Makefile
/Externals/libogg/config.h
/Externals/libogg/config.log
/Externals/libogg/config.status
/Externals/libogg/doc/Makefile
/Externals/libogg/doc/libogg/Makefile
/Externals/libogg/include/Makefile
/Externals/libogg/include/ogg/Makefile
/Externals/libogg/include/ogg/config_types.h
/Externals/libogg/libogg.spec
/Externals/libogg/libtool
/Externals/libogg/ogg-uninstalled.pc
/Externals/libogg/ogg.pc
/Externals/libogg/src/.deps/bitwise.Plo
/Externals/libogg/src/.deps/framing.Plo
/Externals/libogg/src/.deps/test_bitwise-bitwise.Po
/Externals/libogg/src/.deps/test_framing-framing.Po
/Externals/libogg/src/.libs
/Externals/libogg/src/Makefile
/Externals/libogg/src/libogg.la
/Externals/libogg/src/test_bitwise
/Externals/libogg/src/test_framing
/Externals/libogg/stamp-h1
/Externals/libvorbis/Makefile
/Externals/libvorbis/config.h
/Externals/libvorbis/config.log
/Externals/libvorbis/config.status
/Externals/libvorbis/doc/Doxyfile
/Externals/libvorbis/doc/Makefile
/Externals/libvorbis/doc/doxygen-build.stamp
/Externals/libvorbis/doc/libvorbis/Makefile
/Externals/libvorbis/doc/vorbisenc/Makefile
/Externals/libvorbis/doc/vorbisfile/Makefile
/Externals/libvorbis/examples/.deps/chaining_example.Po
/Externals/libvorbis/examples/.deps/decoder_example.Po
/Externals/libvorbis/examples/.deps/encoder_example.Po
/Externals/libvorbis/examples/.deps/seeking_example.Po
/Externals/libvorbis/examples/.deps/vorbisfile_example.Po
/Externals/libvorbis/examples/Makefile
/Externals/libvorbis/include/Makefile
/Externals/libvorbis/include/vorbis/Makefile
/Externals/libvorbis/lib/.deps/analysis.Plo
/Externals/libvorbis/lib/.deps/barkmel.Po
/Externals/libvorbis/lib/.deps/bitrate.Plo
/Externals/libvorbis/lib/.deps/block.Plo
/Externals/libvorbis/lib/.deps/codebook.Plo
/Externals/libvorbis/lib/.deps/envelope.Plo
/Externals/libvorbis/lib/.deps/floor0.Plo
/Externals/libvorbis/lib/.deps/floor1.Plo
/Externals/libvorbis/lib/.deps/info.Plo
/Externals/libvorbis/lib/.deps/lookup.Plo
/Externals/libvorbis/lib/.deps/lpc.Plo
/Externals/libvorbis/lib/.deps/lsp.Plo
/Externals/libvorbis/lib/.deps/mapping0.Plo
/Externals/libvorbis/lib/.deps/mdct.Plo
/Externals/libvorbis/lib/.deps/psy.Plo
/Externals/libvorbis/lib/.deps/psytune.Po
/Externals/libvorbis/lib/.deps/registry.Plo
/Externals/libvorbis/lib/.deps/res0.Plo
/Externals/libvorbis/lib/.deps/sharedbook.Plo
/Externals/libvorbis/lib/.deps/smallft.Plo
/Externals/libvorbis/lib/.deps/synthesis.Plo
/Externals/libvorbis/lib/.deps/test_sharedbook-sharedbook.Po
/Externals/libvorbis/lib/.deps/tone.Po
/Externals/libvorbis/lib/.deps/vorbisenc.Plo
/Externals/libvorbis/lib/.deps/vorbisfile.Plo
/Externals/libvorbis/lib/.deps/window.Plo
/Externals/libvorbis/lib/.libs
/Externals/libvorbis/lib/Makefile
/Externals/libvorbis/lib/books/Makefile
/Externals/libvorbis/lib/books/coupled/Makefile
/Externals/libvorbis/lib/books/floor/Makefile
/Externals/libvorbis/lib/books/uncoupled/Makefile
/Externals/libvorbis/lib/libvorbis.la
/Externals/libvorbis/lib/libvorbisenc.la
/Externals/libvorbis/lib/libvorbisfile.la
/Externals/libvorbis/lib/modes/Makefile
/Externals/libvorbis/lib/test_sharedbook
/Externals/libvorbis/libtool
/Externals/libvorbis/libvorbis.spec
/Externals/libvorbis/m4/Makefile
/Externals/libvorbis/stamp-h1
/Externals/libvorbis/test/.deps/test.Po
/Externals/libvorbis/test/.deps/util.Po
/Externals/libvorbis/test/.deps/write_read.Po
/Externals/libvorbis/test/Makefile
/Externals/libvorbis/vorbis-uninstalled.pc
/Externals/libvorbis/vorbis.pc
/Externals/libvorbis/vorbisenc-uninstalled.pc
/Externals/libvorbis/vorbisenc.pc
/Externals/libvorbis/vorbisfile-uninstalled.pc
/Externals/libvorbis/vorbisfile.pc
/Externals/libvorbis/vq/.deps/bookutil.Po
/Externals/libvorbis/vq/.deps/distribution.Po
/Externals/libvorbis/vq/.deps/huffbuild.Po
/Externals/libvorbis/vq/.deps/latticebuild.Po
/Externals/libvorbis/vq/.deps/latticetune.Po
/Externals/libvorbis/vq/.deps/vqgen.Po
/Externals/libvorbis/vq/Makefile
/Externals/libogg/prebuilt
