<?xml version="1.0" encoding="utf-8"?>
<!-- BEGIN_INCLUDE(manifest) -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="@PH_BUNDLE_ID@"
        android:versionCode="1"
        android:versionName="1.0"
        android:installLocation="preferExternal"
        >

    <uses-sdk android:minSdkVersion="9" />
    <application android:label="@PH_NAME@" >
        <activity android:name="android.app.NativeActivity"
                android:label="@PH_NAME@"
                android:configChanges="orientation|keyboardHidden"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:screenOrientation="@PH_ORIENTATION@"
                >
            <meta-data android:name="android.app.lib_name"
                    android:value="bootstrap" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest> 
<!-- END_INCLUDE(manifest) -->
